<%- include("partials/header.ejs") -%>
  </head>
  <body>
    <div class="container">
  		<div id="home" class="flex-column flex-center">
  			<h1>Quick Trivia!</h1>
  			<a class="btn" href="/game">Play</a>
  			<a class="btn" href="/scores">High Scores</a>
      </div>
  	</div>
    <div class="footer">
      <a href="https://github.com/Chinito4852/Quick-Trivia-with-DB" class="fa fa-github"></a>
      <p class="copyright">© 2021 Tristin Wong</p>
    </div>
    <!-- <script type="text/javascript" src="/js/test.js"></script> -->
  </body>
</html>
